# docker-compose.yml
version: "3.8"
services:
  db:
    image: postgres:15
    container_name: evcharge-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: evcharge
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata: